
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');

*{
    padding:0;
    margin:0;
}

.body{
    background-image: url("../soundsandbg/bg.png");
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#score{
    position:absolute;
    top:9px;
    right:0.8vw;
    font-size:39px;
    font-weight: bold;
    font-family: 'Spicy Rice', cursive;
    color: aliceblue;
}

#highscore{
    position:absolute;
    top:9px;
    left:0.2vw;
    font-size:39px;
    font-weight: bold;
    font-family: 'Spicy Rice', cursive;
    color: aliceblue;
}

#board{
    background: linear-gradient(rgb(223, 230, 223),rgb(48, 116, 218));
    width: 90vmin;
    height:92vmin;
    border: solid black;
    display: grid;
    grid-template-rows:repeat(18,1fr);
    grid-template-columns:repeat(18,1fr);
    
}

.head{
    background-color: black ;
    border: .25vmin solid rgb(151, 150, 150);
    border-radius: 15px;
}

.snake{
       background-color: rgb(122, 119, 119);
       border: .25vmin solid white;
       border-radius:12px;
}

.food{
    background: linear-gradient(rgb(10, 134, 206),rgb(1, 132, 255));
    border: .25vmin solid black;
}